
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #970b0b;
}
.product-details {
  background: #fff; /* Fondo blanco para resaltar la tarjeta */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.imagen-principal img {
  max-height: 350px; /* Limitar altura para mantener la proporción */
  object-fit: cover; /* Mantener la imagen ajustada */
  border-radius: 8px;
}
/* Agregar a tu archivo CSS para una presentación más moderna */

.card {
  border: none;
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card:hover {
  transform: translateY(-10px); /* Elevar la tarjeta al pasar el cursor */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más prominente */
}

.card-img-top {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
  height: 200px; /* Controlar la altura de la imagen */
  object-fit: cover; /* Ajusta la imagen sin estirarla, recortándola si es necesario */
  object-position: center; /* Centra la imagen dentro de su contenedor */
}

.card-body {
  background-color: #f8f9fa; /* Fondo claro para el contenido */
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.text-success {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-body a {
  text-decoration: none;
}

.btn {
  background-color: #007bff;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.transform-card {
  transform: scale(1); /* Escalado inicial */
}

.transform-card:hover {
  transform: scale(1.05); /* Aumento al pasar el ratón */
}

.col-md-4 {
  display: flex;
  justify-content: center; /* Centrar las tarjetas */
}

@media (max-width: 767px) {
  .card {
    margin: 10px;
    /* Reduce el tamaño de las tarjetas en dispositivos más pequeños */
  }

  .card-img-top {
    height: 150px; /* Reducir la altura de la imagen en pantallas pequeñas */
  }
}

.cart-widget {
  position: relative;
}

.cart-widget span {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

.item-count button {
  margin: 5px;
}
